<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.robocalc.circus/robosim/graphical/label/RoboSimLabel"
			class = "circus.robocalc.robosim.graphical.label.roboSimLabel.RoboSimLabelPackage"
			genModel = "model/generated/RoboSimLabel.genmodel" />
	</extension>
</plugin>
